<html>
<body >
<form action="http://localhost:2016/author/create" method="POST">
<p><h2>Create Author Here</h2></p>
<table  border= "2" >

  <tr><td>authorname:</td>
  <td><input type="text" name="authorname"><br><br></td></tr>
  <tr><td>bookname:</td>
  <td><input type="text" name="bookname"><br><br></td></tr>
  <tr><td>authorcontact:</td>
  <td><input type="text" name="authorcontact"><br><br></td></tr>
  <tr><td>datecreated:</td>
  <td><input type="text" name="datecreated"><br><br></td></tr>
  <tr><td>releaseversion:</td>
  <td><input type="text" name="releaseversion"><br><br></td>
  </tr>
  

  <tr><td><center>
  <input type="submit"  value="submit"></center></td></tr>

</form>

</table>

</body>
</html>