<html>
<body >
<form action="http://localhost:2016/books/create" method="POST">
<p><h2>Create Book Here</h2></p>
<table  border= "2" >

  <tr><td>Book name:</td>
  <td><input type="text" name="bookname"><br><br></td></tr>
  <tr><td>Title:</td>
  <td><input type="text" name="title"><br><br></td></tr>
  <tr><td>ISBN:</td>
  <td><input type="text" name="isbnnumber"><br><br></td></tr>
  <tr><td>Author:</td>
  <td><input type="text" name="author"><br><br></td></tr>
  <tr><td>publisher:</td>
  <td><input type="text" name="publisher"><br><br></td></tr>
  <tr><td>number_of_pages:</td>
  <td><input type="text" name="number_of_pages"><br><br></td></tr>

  <tr><td><center>
  <input type="submit"  value="submit"></center></td></tr>

</form>

</table>

</body>
</html>